body{
    font-family: 'Open Sans', sans-serif;

}

.baslik{
    font-family:"Gill Sans", Helvetica, 
    Arial, sans-serif;
    font-size:50px;
    padding: 20px;
    background-color:#00ebb0;
    color:#9e66b4;
    width:100%
    

}

.birazhatay{

    background-color:#eff7ff;

}

.ayrac{

border-top: 3px solid  #5d27ffa6;
max-width: 250px;
margin: 30px auto;
}


.pierreayrac{

    border-top: 3px solid  #5d27ffa6;
    max-width: 400px;
    margin: 8px auto;

}

.ikon{
    color:#5d27ffa6;
    position: relative;
    top:-63px;
    font-size: 40px;
}
div.galeri {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 170px;
  }
  
  div.galeri:hover {
    border: 1px solid #777;
  }
  
  div.galeri img {
    
    width: 100%;
    height: 100px;
    min-width: 100px;

  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }


  div.miras{
border: 1px solid gray;
padding: 8px;
}

p.miras {
text-indent: 20px;
text-align: justify;
letter-spacing: 3px;
}

h2.miras {
  text-align: center;
  text-transform: uppercase;
  color: #4CAF50;
}




